In [ ]:
import pandas as pd
import requests

Example of downloading data from BDL API for one territorial unit and many variables. 

Data on financial results of enterprises


|     |     |
| --- | --- |
| **Category**	| 	FINANCES OF ENTERPRISES (QUARTERLY DATA) (K43) |
| **Group**  | 	FINANCIAL RESULTS OF ENTERPRISES (G418) |
| **Subgroup** | Financial results of the PKD 2007 (P2695) |
| **Dimensions**	| Periods; Data coverage; Sections by PKD 2007; Years |
| **Last update** | 24/03/2021 |

Data in this category has, besides year and territorial unit, another 3 dimensions. For every combination of options in these 3 dimensions there is a separate variable with unique id. 

Parameters chosen for this example are: one territorial unit (Poland), years ... - ... , one option in period dimension (a year) and all available options in the two remaining dimensions.

In [ ]:
# page for the whole subject 
first_page = requests.get('https://bdl.stat.gov.pl/api/v1/variables?subject-id=P2695&page-size=100', timeout=7)
first_page = first_page.json()

In [ ]:
# view data structure
first_page['results'][0]

{'id': 214413,
 'level': 3,
 'measureUnitId': 1,
 'measureUnitName': '-',
 'n1': 'I kwartał',
 'n2': 'przedsiębiorstwa objęte badaniem',
 'n3': 'Ogółem',
 'subjectId': 'P2695'}

In [ ]:
# option keys are named n1, n2, n3
# each combination of these options gives a variable with unique id

In [ ]:
last_link=first_page['links']['last']
last_link

'https://bdl.stat.gov.pl/api/v1/variables?subject-id=P2695&page-size=100&page=31'

In [ ]:
# get the last page number (31)
last_page_num=int(last_link[last_link.find("page=")+5:] )
last_page_num

31

In [ ]:
# crawl pages in this category to find variable id numbers
# select only the records (variables) where the period is a whole year ('n1' : 'rok')
var_list=[]
for page_num in range(0,last_page_num+1):
    page = requests.get('https://bdl.stat.gov.pl/api/v1/variables?subject-id=P2695&page-size=100&page='+str(page_num), timeout=7)
    page = page.json()
    for result in page['results']:
        if result['n1']=='rok':
            var_list.append(result)

In [ ]:
# 
len(var_list)

799

In [ ]:
var_list[0]

{'id': 216226,
 'level': 3,
 'measureUnitId': 1,
 'measureUnitName': '-',
 'n1': 'rok',
 'n2': 'przedsiębiorstwa objęte badaniem',
 'n3': 'Ogółem',
 'subjectId': 'P2695'}

In [ ]:
# n2 and n3 options
n2_set=set([x['n2'] for x in var_list])
n3_set=set([x['n3'] for x in var_list])

In [ ]:
print(len(n2_set), '*',len(n3_set),'=', len(n2_set)*len(n3_set))

47 * 17 = 799

In [ ]:
def get_var_id(n2,n3):
    for x in var_list:
        if x['n2']==n2 and x['n3']==n3:
            return x['id']
    return "variable not found"

In [ ]:
# example
get_var_id('aktywa obrotowe', 'Budownictwo')

216680

In [ ]:
def get_n3(var_id):
    for x in var_list:
        if x['id']==var_id:
            return x['n3']

In [ ]:
# example
get_n3(216680)

'Budownictwo'

In [ ]:
all_dict={}

for n2 in n2_set:
    var_dict={}
    
    # only one page for every n2 (less than 100 records)
    url="https://bdl.stat.gov.pl/api/v1/data/by-unit/000000000000?page-size=100&" # one territorial unit
    for year in range(2011,2020+1):
        url+="year="+str(year)+"&"

    for n3 in n3_set:
        url+="var-id="+str(get_var_id(n2,n3))+"&"
    # many variables

    try:
        response = requests.get(url, timeout=7)
    except:
        print("request error")
        break
    page=response.json() 

    for result in page['results']:
        var_dict[get_n3(result['id'])]={x['year'] :x['val'] for x in result['values']}
    all_dict[n2]=var_dict

In [ ]:
len(all_dict)

47

In [ ]:
# dataframe example
pd.DataFrame(all_dict['aktywa obrotowe'])

      Opieka zdrowotna i pomoc społeczna  ...  Transport i gospodarka magazynowa
2011                             1885448  ...                           25995317
2012                             2282365  ...                           27987439
2013                             3004267  ...                           30555949
2014                             3357825  ...                           32940269
2015                             4053053  ...                           35452392
2016                             4345042  ...                           42733602
2017                             4804080  ...                           48057308
2018                             4810743  ...                           52802725
2019                             5396336  ...                           55781309
2020                             6602129  ...                           61147799

[10 rows x 17 columns]

In [ ]:
# df for number of enterprises included in the survey
# with year as a variable column instead of index
df_ogolem=pd.DataFrame(all_dict['przedsiębiorstwa objęte badaniem'])
df_ogolem.index=df_ogolem.index.set_names(['rok'])
df_ogolem=df_ogolem.reset_index()
df_ogolem

    rok  ...  Wytwarzanie i zaopatrywanie w energię elektryczną, gaz, parę wodną, gorącą wodę i powietrze do układów klimatyzacyjnych
0  2011  ...                                                263
1  2012  ...                                                254
2  2013  ...                                                247
3  2014  ...                                                245
4  2015  ...                                                237
5  2016  ...                                                222
6  2017  ...                                                223
7  2018  ...                                                220
8  2019  ...                                                220
9  2020  ...                                                210

[10 rows x 18 columns]

In [ ]:
# unpivot df from wide to long format (creating df template for all variables)
df_ogolem_melt=pd.melt(df_ogolem,id_vars=['rok'],var_name='rodzaj', value_name='przedsiębiorstwa objęte badaniem')
df_ogolem_melt

      rok  ... przedsiębiorstwa objęte badaniem
0    2011  ...                              577
1    2012  ...                              590
2    2013  ...                              603
3    2014  ...                              603
4    2015  ...                              626
..    ...  ...                              ...
165  2016  ...                              222
166  2017  ...                              223
167  2018  ...                              220
168  2019  ...                              220
169  2020  ...                              210

[170 rows x 3 columns]

In [ ]:
# join other variables to this df

all_df=df_ogolem_melt.copy() 

for variable_name in all_dict:
    if variable_name=="przedsiębiorstwa objęte badaniem":
        continue
    temp_df=pd.DataFrame(all_dict[variable_name])
    temp_df.index=temp_df.index.set_names(['rok'])
    temp_df=temp_df.reset_index()
    temp_df=pd.melt(temp_df,id_vars=['rok'],var_name='rodzaj', value_name=variable_name)
    all_df=pd.merge(all_df, temp_df, how='left', on=['rok','rodzaj'])

In [ ]:
# whole data in one table
all_df

      rok  ... aktywa obrotowe
0    2011  ...         8290427
1    2012  ...         8272047
2    2013  ...         9385443
3    2014  ...         9753780
4    2015  ...         9089526
..    ...  ...             ...
165  2016  ...        60313562
166  2017  ...        59120763
167  2018  ...        68858708
168  2019  ...        77372511
169  2020  ...        83575839

[170 rows x 49 columns]

In [ ]:
# save data

In [ ]:
path='' 
# specify path

In [ ]:
all_df.to_csv(path+"finanse_przedsiębiorstw.csv", index=False)
#all_df.to_csv(path+"all_df.csv", index=False, encoding='utf-8')

In [ ]:
# additional
# handling measurement units

In [ ]:
all_df_u=all_df.copy()

In [ ]:
measure_unit_dict={}
for n2 in n2_set:
    for x in var_list:
        if x['n2']==n2:
            measure_unit_dict[n2]=x['measureUnitId']
            break

In [ ]:
def get_measure_unit(mu_id):
    #if mu_id==1:
    #    return 1
    if mu_id==5:    # tys. zł
        return 1000
    elif mu_id==50:    # %
        return 1/100
    else:
        return 1

for zmienna, mu_id in measure_unit_dict.items():
    all_df_u[zmienna]=all_df_u[zmienna]*get_measure_unit(mu_id)

In [ ]:
# view updated data
# all_df_u

In [ ]:
# save
all_df_u.to_csv(path+"finanse_przedsiębiorstw_u.csv", index=False)