multiple territorial units, multiple variables

Subject:

https://bdl.stat.gov.pl/api/v1/variables?subject-id=P3155&page-size=100

Przeciętne ceny skupu owoców i warzyw (dane półroczne)

Average procurement prices of fruits and vegetables (half-yearly data)

In [ ]:
import pandas as pd
import requests

In [ ]:
first_page = requests.get('https://bdl.stat.gov.pl/api/v1/variables?subject-id=P3155&page-size=100', timeout=7)
first_page = first_page.json()
first_page['results'][0]

{'id': 283913,
 'level': 3,
 'measureUnitId': 4,
 'measureUnitName': 'zł',
 'n1': 'I półrocze',
 'n2': 'kapusta za 1 kg',
 'subjectId': 'P3155'}

In [ ]:
last_link=first_page['links']['last']
last_page_num=int(last_link[last_link.find("page=")+5:] )
last_page_num

0

In [ ]:
# only one page
# 60 records

In [ ]:
"""
var_list=[]
for result in first_page['results']:
    if result['n1']=='rok':
        var_list.append(result)
"""
var_list=[result for result in first_page['results'] if result['n1']=='rok']

In [ ]:
var_list[1]

{'id': 283912,
 'level': 3,
 'measureUnitId': 4,
 'measureUnitName': 'zł',
 'n1': 'rok',
 'n2': 'cebula za 1 kg',
 'subjectId': 'P3155'}

In [ ]:
len(var_list)

20

In [ ]:
data_dict={}
unit_level=2 # województwa
for x in var_list:
    var_id=x['id']
    var_name=x['n2']
    url=f'https://bdl.stat.gov.pl/api/v1/data/by-variable/{var_id}?page-size=100&unit-level={unit_level}&'
    for year in range(2011,2020+1):
        url+=f'year={year}&'
    try:
        page = requests.get(url, timeout=7)
    except:
        print("request error,",x)
        break
    page = page.json()
    data_list = [(result['name'], v['year'], v['val'])  for result in page['results'] for v in result['values']]
    data_dict[var_name]=data_list

In [ ]:
# view the variables
data_dict.keys()

dict_keys(['kapusta za 1 kg', 'cebula za 1 kg', 'marchew za 1 kg', 'buraki za 1 kg', 'ogórki za 1 kg', 'pomidory za 1 kg', 'kalafiory za 1 szt', 'inne warzywa za 1 kg', 'jabłka za 1 kg', 'gruszki za 1 kg', 'śliwki za 1 kg', 'brzoskwinie za 1 kg', 'wiśnie za 1 kg', 'czereśnie za 1 kg', 'truskawki za 1 kg', 'maliny za 1 kg', 'porzeczki za 1 kg', 'agrest za 1 kg', 'orzechy włoskie i laskowe za 1 kg', 'inne owoce za 1 kg'])

In [ ]:
# example values for one variable
data_dict['kapusta za 1 kg'][:3]

[('MAŁOPOLSKIE', '2012', 0.57),
 ('MAŁOPOLSKIE', '2013', 0.72),
 ('MAŁOPOLSKIE', '2014', 0.59)]

In [ ]:
# example dataframe (and a template for dataframe with all variables)
df=pd.DataFrame(data_dict['kapusta za 1 kg'], columns=['województwo', 'rok', 'kapusta za 1 kg'])
df

     województwo   rok  kapusta za 1 kg
0    MAŁOPOLSKIE  2012             0.57
1    MAŁOPOLSKIE  2013             0.72
2    MAŁOPOLSKIE  2014             0.59
3    MAŁOPOLSKIE  2015             0.86
4    MAŁOPOLSKIE  2016             0.76
..           ...   ...              ...
123  MAZOWIECKIE  2015             1.03
124  MAZOWIECKIE  2016             1.17
125  MAZOWIECKIE  2017             0.86
126  MAZOWIECKIE  2018             0.94
127  MAZOWIECKIE  2019             1.44

[128 rows x 3 columns]

In [ ]:
# joining remaining variables

for var_name in data_dict:
    if var_name=="kapusta za 1 kg":
        continue
    temp_df=pd.DataFrame(data_dict[var_name], columns=['województwo', 'rok', var_name])
    df=pd.merge(df, temp_df, how='left', on=['województwo','rok'])

In [ ]:
# whole dataset
df

     województwo   rok  ...  orzechy włoskie i laskowe za 1 kg  inne owoce za 1 kg
0    MAŁOPOLSKIE  2012  ...                              18.29                1.77
1    MAŁOPOLSKIE  2013  ...                              14.18                6.10
2    MAŁOPOLSKIE  2014  ...                              15.13                2.03
3    MAŁOPOLSKIE  2015  ...                              28.43                4.21
4    MAŁOPOLSKIE  2016  ...                              15.13                4.03
..           ...   ...  ...                                ...                 ...
123  MAZOWIECKIE  2015  ...                              24.46                3.90
124  MAZOWIECKIE  2016  ...                               7.97                3.18
125  MAZOWIECKIE  2017  ...                              17.53                3.86
126  MAZOWIECKIE  2018  ...                               7.90                5.02
127  MAZOWIECKIE  2019  ...                               8.75                4.37

[128 rows x 22 columns]

In [ ]:
# save data

path='' 

df.to_csv(path+"ceny_skupu.csv", index=False)